<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <div class="form-group">
        <mat-form-field *ngIf="action !== 'Delete'; else elseTemplate">
            <input #name="ngModel" placeholder="Name" matInput [(ngModel)]="localData.name" name="name" id="name"
                type="text" class="form-control" required appearance="fill">
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                Name is required
            </div>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field *ngIf="action !== 'Delete'" hintLabel="Max 10 digits...">
            <input #phoneNumber="ngModel" pattern="[0-9]+" min="0"  [maxLength]="10"  placeholder="Phone Number" matInput [(ngModel)]="localData.phoneNumber" name="phoneNumber" id="phoneNumber"
                type="text" class="form-control" required appearance="fill">
            <div class="alert alert-danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">
                Phone Number is required
            </div>
        </mat-form-field>
    </div>

    <ng-template #elseTemplate>
        Are you sure you want to delete the following Entry? <br><br>
        <b>{{localData.name}}</b>
        <br>
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">Save</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>