<p><b>Manage Phone book Entries</b></p>
<div style="display:inline-block; margin-bottom: 20px; ">
  <button mat-button (click)="openDialog('Add', {})" mat-flat-button color="primary" style="margin-left: 20px;">
    <i class="fa fa-plus" aria-hidden="true"></i> New Entry
  </button>

  <button mat-button="" routerLink="/phonebooks" mat-flat-button="" color="primary" style="margin-left: 20px;">
    <i class="fa fa-home" aria-hidden="true"></i>
    Dashbord
  </button>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Search</span>
  </div>
  <input type="text" class="form-control" (keyup)="filter($event)">
</div>

<div class="mat-elevation-z8">
  <app-alert></app-alert>
  <table mat-table [dataSource]="tableDataResource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="openDialog('Update',element)">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit</a> |
        <a (click)="openDialog('Delete',element)">
          <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="pageLength" [pageSize]="10" (page)="onPageChanged($event)">
  </mat-paginator>
</div>