<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <i class="fas fa-hotdog" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <a class="dropdown-item" routerLink="/dashbord">
                    <i class="fa fa-home" aria-hidden="true"></i> Phonebook application</a>
            </ul>
            <ul class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="entries">Manage Entries</a>
                <a class="nav-link" routerLinkActive="active" routerLink="phonebooks">Manage Phonebook</a>
            </ul>
        </div>
    </div>
</nav>